<hr style="border-color: #ac2925">
<div class="row" style="text-align: center">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-4">
            İletişim
        </div>
        <div class="col-md-4">
            Restorant Öner
        </div>
        <div class="col-md-4">
            Sıkça Sorulan Sorular
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-4">
            Kullanıcı Sözleşmesi
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            Hakkımızda
        </div>
    </div>
</div>